.AppSpacing {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 25px;
}

.Navigation {
  display: flex;
  font-family: "Gill Sans", sans;
  padding: 20px 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.Navigation a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.Navigation a:hover {
  text-decoration: underline overline wavy green;
}

.SelectedFood {
  font-family: "Gill Sans", sans;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

.NutrientInfo {
  font-family: "Poiret One", cursive;
}

.VitaminAWrapper {
  margin: 10px;
  font-size: 20px;
}

.VitaminCWrapper {
  margin: 10px;
  font-size: 20px;
}

.FiberWrapper {
  margin: 10px;
  font-size: 20px;
}

.VitaminADescription {
  font-size: 15px;
}

.VitaminCDescription {
  font-size: 15px;
}

.FiberDescription {
  font-size: 15px;
}
